<div *ngIf="userId==null">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blogs</a>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="panel panel-primary col-sm-4">
    <div class="panel-heading">Login</div>
    <br>
    <label for="loginId" class="form-label">Username</label>
    <br>
    <div>
      <input type="text" class="form-control" id="loginId" [(ngModel)]="loginId" placeholder="Username">
    </div>
    <br>
    <label for="loginPassword" class="form-label">Password</label>
    <div >
      <input type="text" class="form-control" id="loginPassword" [(ngModel)]="password" placeholder="Password">
    </div>
    <br>
    <button class="btn btn-primary" (click)="login(loginId,password)">Login</button>
    <div><br></div>
  </div>
  <div class="col-sm-2"></div>
  <div class="panel panel-primary col-sm-4">
    <div class="panel-heading">Signup</div>
    <br>
    <label for="loginId" class="form-label">Username</label>
    <br>
    <div>
      <input type="text" class="form-control" id="signupId" [(ngModel)]="signupId" placeholder="Username">
    </div>
    <br>
    <label for="signupPassword1" class="form-label">Password</label>
    <div >
      <input type="text" class="form-control" id="signupPassword1" [(ngModel)]="password1" placeholder="Password">
    </div>
    <br>
    <label for="signupPassword2" class="form-label">Re-type Password</label>
    <div >
      <input type="text" class="form-control" id="signupPassword2" [(ngModel)]="password2" placeholder="Password">
    </div>
    <br>
    <button class="btn btn-primary" (click)="signup(signupId,password1,password2)">Signup</button>
    <div><br></div>
  </div>
</div>
</div>
<app-home [userId]="userId" *ngIf="userId!=null"></app-home>






